
html {
background: rgb(134,85,0);
background: linear-gradient(18deg, rgb(32, 0, 51) 0%, rgb(71, 0, 80) 50%, rgb(0, 86, 97) 100%);
color: rgb(255, 255, 255);
text-shadow: 0 0 10px white;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 200;
font-style: normal;
height: 100%;
}


body {
    margin: 0;
    padding: 0;
    text-align: center;
}


.top-container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,89,1) 39%, rgba(54,54,54,1) 100%);
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px;
    position: relative;
    top: 0px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 200);
    
}

.top-containertwo {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,89,1) 39%, rgba(54,54,54,1) 100%);
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px;
    position: relative;
    top: 0px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 200);
    height:200px;
    
}

.cloud {
    position: absolute;
    right: 10%;
    top: 10%;
}

.cloud2 {
    position: absolute;
    left: 20%;
    top: 35%;
}

.mid-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,89,1) 39%, rgba(54,54,54,1) 100%);
    height:max-content;
    border: double;
    border-color: black;
    
    
    
    
}

.mid-containertwo {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,89,89,1) 39%, rgba(54,54,54,1) 100%);
    height:max-content;
    margin:  0px 650px;
    border-radius: 20px;
    border: double;
    border-color: black;
    background-color: rgba(0,0,0);
    text-decoration: none;
    
    
    
}

.image {
    margin-left: 5px;
    margin-right: 5px;
    
    

}

.image:hover {
    margin-left: 5px;
    margin-right: 5px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    
    

}


.buttoncontainer {
    background: rgb(37,37,37);
    /*background: linear-gradient(27deg, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 20%, rgba(43,43,43,1) 23%, rgba(57,57,57,1) 27%, rgba(106,106,106,1) 42%, rgba(33,33,33,1) 44%, rgba(0,0,0,1) 63%, rgba(55,55,55,1) 78%, rgba(73,73,73,1) 86%, rgba(150,150,150,1) 100%);*/
    padding: 10px;
    text-align: left;
    margin-bottom: 0px;
    vertical-align: middle;
    
    
}

.button {
    border-radius: 5px;
    border: outset;
    height: 30px;
    vertical-align: middle;
    background: rgb(186,186,186);
background: linear-gradient(27deg, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 33%, rgba(145,145,145,1) 100%);
    color: rgb(117, 117, 117);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.button:hover {
    border-radius: 5px;
    border: outset;
    height: 30px;
    vertical-align: middle;
    background: rgb(186,186,186);
background: linear-gradient(27deg, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 33%, rgba(145,145,145,1) 100%);
    color: rgb(117, 117, 117);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.button:active {
    border-radius: 5px;
    border: solid;
    border-color: rgb(186,186,186);
    height: 30px;
    vertical-align: middle;
    background: rgb(186,186,186);
background: linear-gradient(27deg, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 33%, rgba(145,145,145,1) 100%);
    color: rgb(117, 117, 117);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}